.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  & .wrapper {
    background-color: var(--mantine-color-secondary-8);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vh;
    height: 50vh;

    & > div {
      padding: 5vh;
      width: 40vh;
      display: flex;
      align-items: center;
      justify-content: center;

      & > form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1vh;
      }
    }

    & > div:hover {
      background-color: var(--mantine-color-secondary-5);
      border-radius: 10% 0;
    }
  }
}
